/venv/
DS_Store
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
*.pyc

/build/
/.env
/.env.local
/.env.development
/.env.test
/.env.production
/logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/coverage/
*.log

